@{
    @model PersonalCollectionManagement.ViewModels.LoginModel
    ViewData["CurrentPage"] = "Autorization"; 
    ViewData["Title"] = "Авторизация";
}

<div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content text-white bg-dark">
        <div class="modal-header ">
            <h5 class="modal-title">Авторизация</h5>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form name="loginForm" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail">Email</label>
                        <input type="email"
                               name="email"
                               class="form-control"
                               id="exampleInputEmail"
                               placeholder="Email"
                               pattern="([0-9a-z_.]+@(ViewData["Dog"])[0-9a-z_^.]+.[a-z]{2,3})+"
                               title="Почта введена некорректно">
                        @if (ViewBag.EmailMessage != null)
                        {
                            <small class="form-text text-danger">@ViewBag.EmailMessage</small>
                        }
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword">Пароль</label>
                        <input type="password"
                               name="password"
                               class="form-control"
                               id="exampleInputPassword"
                               placeholder="Пароль">
                        @if (ViewBag.PasswordMessage != null)
                        {
                            <small class="form-text text-danger">@ViewBag.PasswordMessage</small>
                        }
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Авторизоваться
                    </button>
                </form>

                <h3>Авторизация с помощью социальных сетей</h3>
                <form method="post" asp-controller="Account" asp-action="ExternalLogins">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button class="btn btn-primary" name="provider" value="@provider.Name">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/socialNetworks.js"></script>
